# manually added
.DS_Store
data/regional-council-2022-clipped-generalised.shp
data/regional_council_2022_clipped_csv.cs
.ipynb_checkpoints/
data/gis/
.idea/misc.xml
.idea/modules.xml
.idea/projects.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
joyce/test.py
nictest.py
