altair==4.2.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
blis==0.7.7
cachetools==5.0.0
catalogue==2.0.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cymem==2.0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.2.0/en_core_web_trf-3.2.0-py3-none-any.whl
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.6.0
gitdb==4.0.9
GitPython==3.1.27
htbuilder==0.6.0
htmlmin==0.1.12
huggingface-hub==0.5.1
idna==3.3
ImageHash==4.2.1
importlib-metadata==4.11.3
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
iteration-utilities==0.11.0
jedi==0.18.1
Jinja2==3.1.1
joblib==1.0.1
jsonschema==4.4.0
jupyter-client==7.2.2
jupyter-core==4.9.2
jupyterlab-pygments==0.2.1
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
kmodes==0.12.0
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_croot-hkd3cnd2/matplotlib-suite_1647506470899/work
matplotlib-inline==0.1.3
missingno==0.5.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/a9eca864-069c-4240-73c8-4e51b036a10d/volume/mkl_random_1639994047876/work
mkl-service==2.4.0
multimethod==1.8
munkres==1.1.4
murmurhash==1.0.6
nbclient==0.5.13
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.8
nltk==3.7
notebook==6.4.10
numexpr @ file:///Users/builder/ci_310/numexpr_1642534542370/work
numpy @ file:///opt/concourse/worker/volumes/live/ac169b17-437d-4bc4-6388-8cf92696aa55/volume/numpy_and_numpy_base_1639496871018/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.4.1
pandas-profiling==3.1.0
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.1
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.1.0
Plost==0.2.5
preshed==3.0.6
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==7.0.0
pycparser==2.21
pydantic==1.8.2
pydeck==0.7.1
Pygments==2.11.2
Pympler==1.0.1
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent==0.18.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==0.19.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==22.3.0
regex==2022.3.15
requests==2.27.1
sacremoses==0.0.49
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
simplejson==3.17.6
smart-open==5.2.1
smmap==5.0.0
soupsieve==2.3.2
spacy==3.2.4
spacy-alignments==0.8.5
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacy-streamlit==1.0.3
spacy-transformers==1.1.5
spacytextblob==4.0.0
srsly==2.4.3
st-annotated-text==3.0.0
stack-data==0.2.0
streamlit==1.8.1
streamlit-aggrid==0.2.3.post2
streamlit-pandas-profiling==0.1.3
tangled-up-in-unicode==0.1.0
terminado==0.13.3
textblob==0.15.3
thinc==8.0.15
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.12.1
toml==0.10.2
toolz==0.11.2
torch==1.11.0
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
transformers==4.17.0
typer==0.4.1
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1649111966296/work
urllib3==1.26.9
validators==0.18.2
visions==0.7.4
wasabi==0.9.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.6.0
wordcloud @ file:///Users/runner/miniforge3/conda-bld/wordcloud_1637007743698/work
zipp==3.8.0
